<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FundR Trip Data</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



    <!-- Custom CSS -->
    <link href="/assets/css/tripview.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">FundR</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/index">Home</a>
                    </li>
                    <li>
                        <a href="/create">Create New Trip</a>
                    </li>
                    <li>
                        <a href="/profile/">Profile</a>
                    </li>
                    <li><a href="/logout"><b>Logout</b></a></li>
                
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/img/tripdata.jpg')">
        <div class="container overlay">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                    <div class="page-heading">
                        <h1>{{tripInfo.title}}</h1>
                        <hr class="small">
                        <span class="subheading">Information regarding your trip</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->

    <div class="container">
        <div class="row">
            <div class="col-xs-7">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-7">
                            <h3>Location: {{tripInfo.destination}}</h3>
                            <h3>Trip Date: {{tripInfo.date}} </h3>
                            </div>
                            <div class="col-sm-5 text-muted">
                                <h5> Created on: {{tripInfo.createdAt}}
                                <h5> By: {{tripInfo.createdBy}} </h5>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#Description">Description</a></li>
                            <li><a data-toggle="tab" href="#Invite">Guests</a></li>
                        </ul>  
                        <div class="tab-content">
                            <div id="Description" class="tab-pane fade in active" style="overflow:auto; max-height:100px">
                                {{tripInfo.description}}
                            </div>
                            <div id="Invite" class="tab-pane fade">
                                <ol>
                                    {{#each guests}}
                                    <li> {{this.firstname}} {{this.lastname}} </li>
                                    {{/each}}
                                </ol>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-1 col-xs-4">
                <div class="row">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            Invite people to this trip!
                        </div>
                        <div class="panel-body">
                            <form id="AddInvite">
                                <div class="form-group">
                                <label for="email"><h4>Email:</h4></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                                </div>
                            </form>    
                            <button type="button" id="InviteButton" class="btn btn-success btn-md">Invite</button>
                            <div id="EmailMessage"></div>                                        
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr class="warning">
                        <th> Item name </th>
                        <th> Total Quantity </th>
                        <th> Price </th>
                        <th> Contribute </th>

                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                    <tr>
                        <td> {{this.item_name}} </td>
                        <td> {{this.quantity_needed}} </td>
                        <td> {{this.price}} </td>
                        {{#if this.isDone}}
                            <td><i class="fa fa-thumbs-o-up"></i> {{this.contributorName}}</td>
                        {{else}}
                            <td> <button data-item="{{this.id}}" class="btn-warning btn-xs" id="bringButton">I'll Bring This!</button> </td>
                        {{/if}}
                    </tr>
                    {{/each}}                                                                                             
                </tbody>       
            </table>   
        </div>
        <div class="row">
            <h3> Add an item for this trip </h3>
            <hr>
            <form class="form-inline" id="addInventory" name="addInventory" method="post" action="/api/trip/inventory/new/{{tripInfo.id}}">
                <div class="form-group">
                <label for="item_name"><h4>Item name:</h4></label>
                <input type="text" class="form-control" id="item_name" placeholder="e.g. Case of water" name="item_name">
                </div>
                <div class="form-group">
                <label for="quantity"><h4>Quantity</h4></label>
                <input type="number" min="1" class="form-control" id="quantity" placeholder="5" name="quantity_needed">
                </div>      
                <div class="form-group">
                <label for="price"><h4>Price($)(Optional)</h4></label>
                <input type="number" min="0" step=".01" class="form-control" id="price"  name="price">
                </div>                                   
                <button type="submit" class="btn btn-primary btn-md" id="addInventoryButton">Add!</button>
            </form>
        </div>            
    </div>

    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
               
                    <p class="copyright text-muted">&copy; 2017 <a href="#">FundR</a>
                        We <i class="fa fa-heart"></i> <a href="#">FundR</a></p>
            </div>
        </div>
    </footer>


    {{!-- <!-- jQuery -->
    <script src="/js/jquery.js"></script> 

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script> 

    <!-- Custom Theme JavaScript -->
    <script src="/js/small-business.min.js"></script> --}}

    <!-- Smooth Scroll -->
    <script src="/js/SmoothScroll.js"></script>
    
    <script src="/js/tripview.js"></script>
    <script src="js/SmoothScroll.js"></script>

     <script src="js/wow.js"></script>

</body>

</html>